body {
    margin-top: 20px !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 120%;
    background: url('../Assets/Images/background.jpg');
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

a {
    font-size: 1em;
    color: #151515;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

.btn a {
    color: #efefef !important;
    text-decoration: none !important;
}

.btn {
    color: #efefef !important;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #151515;
    }

    a:hover {
        color: #151515;
        text-decoration: underline;
    }



#LogoLink {
    font-family: 'Oswald', sans-serif;
    color: #3c3c3c;
    font-size: 2em;
}

/* Header
----------------------------------------------------------*/
#header {
    
}

/* Content
----------------------------------------------------------*/

#content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.51);
}

/* login
----------------------------------------------------------*/
#login {
    
    
    margin: 0 0 10px;
    text-align: right;
}
    #login li {
        display: inline;
        list-style: none;
    }

    /* menu
----------------------------------------------------------*/
ul#menu {
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #151515;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #151515;
            text-decoration: underline;
        }


.RestaurantImage {
    width: 250px;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

#restaurantTable {
    width: 100%;
    margin: 0;
}

.control-label {
    vertical-align: central !important;
    display: inline-block !important;
    line-height: normal !important;
}

/*//DropDownMenu//*/
#dropDownMenu {
    float: left;
    margin: 0;
    padding: 0;
}

#dropDownMenu li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    position: relative;
    height: 20px;
    width: 100px;
}
#dropDownMenu li:hover {
    background: rgba(255, 255, 255, 0.5);
}
#dropDownMenu li a {
    text-decoration: none;
}
#dropDownMenu ul {
    background: rgba(255, 255, 255, 0.5);
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: -1px;
    z-index: 500;
}
#dropDownMenu ul {
    position: absolute;
}

#dropDownMenu li:hover ul {
    display: block;
}