@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model.Restaurant == null)
{
    <div class="col-md-6">
        RESTAURANG
    </div>
}
else
{
    <div class="col-md-6">
        RESTAURANGER
    </div>
}

