@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if(Model.Restaurant != null)
{ 
    @Model.Restaurant.Name
}
else
{
    foreach (var restaurant in Model.Restaurants)
     {
         @restaurant.Name<br/>
     }
}

