@model GroupProjectRestaurangMVC01.ViewModels.RestaurangViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>RestaurangViewModel</legend>
    
    @Model.Restaurant.Name
</fieldset>
