@{
    Layout = null;
}

To: @ViewBag.To
From: noreply@website.com
Subject: Reset Account

Hello @ViewBag.UserName,

We received your booking at @ViewBag.RestaurantName the @ViewBag.Date

If you would like to cancel your booking, please click this <a href="http://FUCKYOU.com">LINK</a>
