@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel

<h2>SearchResult HEJEHJ</h2>

@if (Model.Restaurants!=null)
           {
               
               foreach (var restaurant in Model.Restaurants)
               {
                   @restaurant.Name
               <br/>
 
                   
               }
               
               
           }