@model GroupProjectRestaurangMVC01.ViewModels.RestaurantViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    @Html.TextBoxFor(c=>c.Name)
  
    <br/>
    @Html.TextBoxFor(c=>c.City)
    <br/>
    <input type="submit" class="btn btn-info" value="Search" />
}


@Html.Partial("_SearchPartial")