
@{
    ViewBag.Title = "RegisterStepTwo";
}

<h2>RegisterStepTwo</h2>


You have recived a Email from us, Please Click the confirmatiolink in the email, to activate your account.

Best Regards

MGM CREW
