@model GroupProjectRestaurangMVC01.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<fieldset>
    <legend>ReservationViewModel</legend>

    @Model.Reservation.CustomerName
</fieldset>