
@{
    ViewBag.Title = "Success";
}

<h2>Sucsess</h2>

Congratulations! your table is waiting for you.<br/>

Check your email for the link to your reservation.<br/>

Best regards <br/>

<h3>MGM</h3>

<br/>
<br/>
@Html.ActionLink("Back to Restaurants","Index","Search")