<h2>User Agreements</h2>

<li>
    <ul>
        You shall not create multiple editions of your retaurant
    </ul>
    <ul>
        Everything here is public
    </ul>
    <ul>
        Everything here is allowed. no rules
    </ul>
    <ul>
        You may follow our rules
    </ul>
    <ul>
        We will find you, and we will ban you

    </ul>
</li>
